
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


/* tag styles */
a:link {
  text-decoration:none;
}

a:hover {
  transform:scale(1.4,1.3);
}


/* CLASS STYLES  */

.sebm-google-map-container {
  height: 100vh;
  width: inherit;
  
}

/* copy of bootstrap container fluid with padding on left and right reduced to 0 */ 
.container-fluid-jn {
  position:relative;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;

}

.top-bar {
    position:absolute;
    float:right;
    display:block;
    top:0;
    z-index:1000;
    background:black;
    min-height:75px;
    width: 100vw;
   
    box-shadow: 0px 3px 3px #111;
    

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.container-fluid {
 
  font-family: 'Roboto', sans-serif;
}
.nav-jn { 
  /* display:none; */
  position: fixed;
  top:0;
  min-height: 50px;
  padding-top:5px;
  padding-left:60px;
  width:100%;
  max-width:100%;
  z-index: 1001;
  background-color:#00b0ff;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display:block;
}
.hidden { display:none; }

.spacer {
  position:relative;
  top:0;
  min-height:50px;
  margin-bottom:20px;
  width:100vw;
  background-color:#00b0ff;
}

.adjust {
  position:inherit;
  padding-top:-70px;
}
.nav-jn a {
  padding-top:5px;
  float:left;
}
.nav-jn h4 {
  display:block;
  float:left;
  margin-right:20px;
}

.jn { 
  background-color:#00b0ff;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
}

.footer-jn {
  position: relative;
  height:180px;
  width:100vw;
  bottom:-140px;
  
  background-color:#00b0ff;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
}
.jumbotron {
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sidebar {
  padding-right:25px;
}

#sidebar-item {
  color: #69e2ff;
}
/* IDS */

#footer {
  margin-top: 15px;
  margin-bottom:15px;
}

#list-item-jn {
  padding-left:10px;
}

#icon-link {
  display:initial;
  z-index:10;
  transform:translateX(-50px);
}
#icon-link a {
  color:#fafafa;
}

a#icon-link {
  color: #fafafa;
  
}

#abt {
  margin-top: 30px;
  margin-left:5px;
  margin-right:10px;
}

#abt p {
  margin-top: 5px;
  margin-right:20px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  /*font-family:'Open Sans', 'sans-serif';*/
}

#prjcts {
  margin-top:25px;
}

#prjcts p {
  font-family: 'Open Sans', 'sans-serif';
  font-weight:400;

}

#topline {
  font-size:16px;
  font-weight:300;

}

#circle-font { 
  position:relative;
  top:-2px;
  margin-right:10px;
  font-size:8px;
}
/* Special Styles */
/* Styles used to overwrite some angular-material theme styles 
in a janky way - better way is to create a new SASS file and compile a 
new theme --- for another day - jn */

#label {
  font-size: 25px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
}

#pill {
  padding: 5px 6px 5px 6px;
  margin-bottom:10px;
  font-size: 10px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 400;
  background-color:lightgrey;
  
  border-radius:10px;
}

#pill:hover {
  cursor:pointer;
  background-color:#f8f8f8;
}
#bottom-line {

  padding: 8px 0px 8px 0px !important;
}